@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");

body,
html,
#root {
  height: 100%;
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background-color: #000;
  color: #0f0;
}

.App {
  display: flex;
  height: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: #0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}

.overlay h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 0px 0px 10px #00ff00;
}

.overlay p {
  font-size: 1.2em;
}

.main-content.blurred {
  filter: blur(5px);
}

.sidebar {
  width: 250px;
  background-color: #111;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .logo {
  margin-bottom: 40px;
}

.sidebar .logo img {
  width: 80px;
  margin-bottom: 10px;
  animation: pulse-shadow 2s infinite ease-in-out; /* Sombra pulsante */
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0px 0px 10px #00ff00;
  }
  50% {
    box-shadow: 0px 0px 20px #00ff00;
  }
  100% {
    box-shadow: 0px 0px 10px #00ff00;
  }
}

.sidebar .logo h2 {
  color: #0f0;
  text-shadow: 0px 0px 10px #00ff00;
  font-size: 1.5em;
  margin: 0;
}

.nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav ul li {
  padding: 15px;
  text-align: center;
  cursor: pointer;
  background-color: #222;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.nav ul li:hover {
  background-color: #00cc00;
}

.content {
  flex: 1;
  padding: 40px;
  background-color: #222;
  overflow-y: auto;
  text-align: center; /* Centrar el contenido */
}

section h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 0px 0px 10px #00ff00;
}

section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.garden-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

button {
  background-color: #0f0;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00cc00;
}
